@import url("https://fonts.googleapis.com/css2?family=Hahmlet&family=Sunflower:wght@300&display=swap");

* {
  font-family: "Sunflower", sans-serif;
  margin: 0 auto;
}

/* header와 main을 감싸는 전체 */
.App {
  max-width: 1200px;
  min-width: 800px;
  border: 10px solid rgb(188, 220, 250);
  padding: 15px;
}

header {
  text-align: center;
  margin: 30px 0px 30px 0px;
}

/* 인풋 전체 */
.inputForm {
  max-width: 1200px;
  min-width: 800px;
  background-color: rgb(212, 212, 212);
  text-align: center;
  margin: 30px 0px 30px 0px;
  padding: 20px;
}

/* 인풋의 라벨 부분 */
.inputForm > label {
  font-size: 18px;
  font-weight: bold;
}

/* 인풋의 입력 부분 */
.inputForm > input {
  width: 230px;
  font-size: 18px;
  margin: 0px 40px 0px 10px;
  padding: 5px;
}

/* 인풋의 버튼 부분 */
.inputForm > button {
  width: 80px;
  color: rgb(0, 0, 0);
  font-size: 18px;
  font-weight: bold;
  background-color: rgb(255, 255, 255);
  border-radius: 7px;
  margin-left: 30px;
  padding: 5px;
  cursor: pointer;
}

.inputForm > button:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
}

.listTitle {
  text-align: center;
  background-color: rgb(188, 220, 250);
  padding: 5px;
}

.todolistContainer {
  background-image: url(/img/back.jpg);
  background-size: 1200px 1050px;
  background-repeat: repeat-y;
}

/* 각 투두리스트 */
.workingTodolist,
.doneTodolist {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

/* working 부분의 todo 카드 */
.workingTodoCard {
  position: relative;
  width: 240px;
  height: 140px;
  background-color: rgb(244, 244, 138);
  box-shadow: 3px 4px 7px gray;
  text-align: center;
  margin: 15px;
  padding: 15px;
}

/* done 부분의 todo 카드 */
.doneTodoCard {
  position: relative;
  width: 240px;
  height: 140px;
  background-color: rgb(255, 221, 221);
  box-shadow: 3px 4px 7px gray;
  text-align: center;
  margin: 15px;
  padding: 15px;
}

.workingTodoCard > h2,
.doneTodoCard > h2 {
  margin: 13px;
}

/* 압정 이모티콘 */
.pinEmoticon {
  position: absolute;
  top: 4%;
  left: 4%;
  font-size: 25px;
}

/* 삭제 버튼 */
.removeBtn {
  width: 70px;
  background-color: rgba(255, 255, 255, 0.431);
  border: 2px solid rgb(210, 86, 86);
  border-radius: 15px;
  font-weight: bold;
  margin: 20px 10px 0px 0px;
  padding: 5px;
  cursor: pointer;
}

/* 완료<->취소 버튼 */
.toggleBtn {
  width: 70px;
  background-color: rgba(255, 255, 255, 0.431);
  border: 2px solid rgb(137, 204, 118);
  border-radius: 15px;
  font-weight: bold;
  padding: 5px;
  cursor: pointer;
}

.removeBtn:hover,
.toggleBtn:hover {
  background-color: rgb(255, 255, 255);
}
